<%= form_with(model: semestre, local: true) do |form| %>
<% if semestre.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(semestre.errors.count, "error") %>
      prohibited this semestr from being saved:</h2>

    <ul>
      <% semestre.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :descricao %>
  <%= form.text_field :descricao, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.submit nil, class: "btn btn-primary" %>
</div>
<% end %>