<%= content_for :title, "Biblioteca - Visualizar Semestre" %>
<% model_class = Semestre %>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card bg-light text-black mt-2">
          <div class="card-header bg-primary text-white">
            <h4><%= model_class.model_name.human.titleize %></h4>
          </div>
          <div class="card-body">
            <h4 class="card-title"><%= @semestre.descricao %></h4>
            <p class="card-text">
              <strong><%= model_class.human_attribute_name(:created_at) %>:</strong>
              <%= @semestre.created_at.strftime("%d/%m/%Y") %>
            </p>
          </div>
          <div class="card-footer">
            <%= link_to t('.edit', :default=> t('helpers.submit.edit')), edit_semestr_path(@semestre), class: "btn btn-success btn-sm" %>
            |
            <%= link_to t('.back', :default=> t('helpers.submit.back')), semestres_path, class: "btn btn-danger btn-sm" %>
          </div>
        </div>
      </div>
    </div>
  </div>