<div class="container">
  <div class="row justify-content-end ">
    <div class="col-lg-8">
      <% model_class = Semestre %>
        <h1 class="mt-2 pb-2"><%= model_class.model_name.human.titleize %></h1>
        <p id="notice"><%= notice %></p>

        <p>
          <strong><%= model_class.human_attribute_name(:descricao) %></strong>
          <%= @semestre.descricao %>
        </p>

        <%= link_to t('.edit', :default=> t('helpers.submit.edit')), edit_semestr_path(@semestre), class: "btn btn-success btn-sm" %>
        |
        <%= link_to t('.back', :default=> t('helpers.submit.back')), semestres_path, class: "btn btn-danger btn-sm" %>
      </div>
    </div>
  </div>