<div class="container">
  <div class="row justify-content-end">
    <div class="col-lg-8">
      <% model_class = Materia %>

        <h1 class="mt-2 pb-2"><%= t('.list', :default=> t('helpers.title.list', :model=> model_class.model_name.human.titleize.pluralize)) %></h1>

        <table class="table table-border">
          <thead>
            <tr>
              <th><%= model_class.human_attribute_name(:descricao) %></th>
              <th><%= model_class.human_attribute_name(:carga_horaria) %></th>
              <th><%= model_class.human_attribute_name(:curso_id) %></th>
              <th colspan="3"><%= t('.options', :default=> t('helpers.options')) %></th>
            </tr>
          </thead>

          <tbody>
            <% @materias.each do |materia| %>
              <tr>
                <td><%= materia.descricao %></td>
                <td><%= materia.carga_horaria %></td>
                <td><%= materia.curso.descricao %></td>
                <td><%= link_to t('.show', :default=> t('helpers.submit.show')), materia, class: "btn btn-outline-info btn-sm" %></td>
                <td><%= link_to t('.edit', :default=> t('helpers.submit.edit')), edit_materia_path(materia), class: "btn btn-outline-success btn-sm" %></td>
                <td><%= link_to t('.delete', :default=> t('helpers.submit.delete')), materia, class: "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: t('.delete', :default=> t('helpers.messages.delete')) } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to t('.new', :default=> t('helpers.submit.new')), new_materia_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>