<div class="row">
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Alunos
          <i class="fas fa-user-graduate"></i>
        </h4>
        <p class="card-text">Lista de alunos cadastrados.</p>
        <a href="<%= alunos_path %>" class="btn btn-outline-primary">Visualizar
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Cursos
          <i class="fab fa-discourse"></i>
        </h4>
        <p class="card-text">Lista de cursos cadastrados.</p>
        <a href="<%= cursos_path %>" class="btn btn-outline-primary">Visualizar
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Matérias
          <i class="fab fa-creative-commons-nd"></i>
        </h4>
        <p class="card-text">Lista de matérias cadastrados.</p>
        <a href="<%= materias_path %>" class="btn btn-outline-primary">Visualizar
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="w-100"></div>
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Livros
          <i class="fas fa-book"></i>
        </h4>
        <p class="card-text">Lista de livros cadastrados.</p>
        <a href="<%= livros_path %>" class="btn btn-outline-primary">Visualizar
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="card-title">Semestres
          <i class="fas fa-hourglass-half"></i>
        </h4>
        <p class="card-text">Lista de livros cadastrados.</p>
        <a href="<%= semestres_path %>" class="btn btn-outline-primary">
          Visualizar
          <i class="fas fa-search"></i>
        </a>
      </div>
    </div>
  </div>
</div>