<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/menu' %>
    <div class="container">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Biblioteca Digital. &copy;2018</span>
      </div>
    </footer>
  </body>
</html>